.modal-header
  %h1 Nova Tarefa!
= simple_form_for task, class: 'clearfix' do |f|
  .modal-body
    = f.input :titulo
    = f.input :nota
    = f.input :dia
  .modal-footer
    = f.submit 'Adicionar', class: 'btn btn-primary'    