.modal-header
  %h1 New Task
= simple_form_for task, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.input :title
    = f.input :note
    = f.input :completed
    = f.input :urge
  .modal-footer
    = f.submit 'Adicionar', class: 'btn btn-primary'
