.container
  - if @tasks.empty?
    %span.text-error Não há tarefas!
  - else
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th X
          %th Titulo
          %th Criada em
          %th Término em
          %th Urgente? 
          %th Notas 
      %tbody
        - @tasks.each do |task|
          - if task.urge == true
            %tr.error
              %td.erro
                = link_to task_path(task), remote: true, method: :delete, data: {confirm: "Apagar a tarefa #{task.title}?"} do
                  %i.icon-remove
              %td
                %strong= task.title
              %td.text-info= task.created_at
              %td.text-success= task.completed
              %td.text-error= task.urge
              %td.text-error= task.note
          - else
            %tr
              %td
                = link_to task_path(task), remote: true, method: :delete do 
                  %i.icon-remove
              %td         
                %strong.text-info= task.title
              %td.text-info= task.created_at 
              %td.text-success= task.completed
              %td.text-info= task.urge
              %td.text-success= task.note
