.modal-header
  %h1 Novo Usuario!
= simple_form_for usuario, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  .modal-footer
    = f.submit 'Cadastrar', class: 'btn btn-primary'