!!!
%html
  %head
    %title Projeto Final OO
    = stylesheet_link_tag   "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            %a{:href => "http://localhost:3000/"} To-Dos
            %small O que eu ia fazer?
          .text-center
            %strong= current_user.email
          = link_to 'New task', new_task_path, class: 'btn btn-primary btn-lg btn-block', remote: true
          = link_to "Sign in with Facebook", new_user_session_path, class: 'btn btn-primary btn-lg btn-block'
          = link_to 'Login', new_user_session_path, class: 'btn btn-default btn-lg btn-block'
          = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-lg btn-block'
    .container
      .jumbotron
        %img{:alt => "Smiley face", :height => "30",:vspace => "10", :src => "http://premioengenho.com.br/wp-content/uploads/2011/08/UnB-premio-engenho.jpg", :width => "600"}/
        =yield 
