!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            To-Dos
          %p 
            Apenas usúarios cadastrados
    .row-fluid
      .span4.offset4
        = yield
